[Unit]
Description=Athena Whisplay Voice Assistant
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/athena_pi/athena
EnvironmentFile=/home/athena_pi/athena/.env
ExecStartPre=/usr/bin/amixer -c 1 sset Speaker 100%
ExecStart=/usr/bin/python3 /home/athena_pi/athena/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
